/**************************************/
/*          Profile Picture           */
/**************************************/

/**
 * Base Styles
 */
.about-me{
  margin: 5%;
  pointer-events: none;
  position: relative;
  z-index: 2;

  @media screen and (min-width: $large) {
    section {
      float: right;
      width: 50%;
    }
  }

  .head-large{
    color: lighten($pink, 15%);
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px $teal;

    @media screen and (min-width: $large) {
      position: absolute;
      top: 100px;
      left: 420px;
      right: 0;
    }


    @media screen and (min-width: $x-large) {
      font-size: 8em;
      left: 680px;
      top: 150px;
    }
  }

  .words-about-me{
    @media screen and (min-width: $large) {
      width: 50%;
      margin-top: 4em;
    }

    .head-med {
      color: $teal;

      i {
        font-size: 2.5em;
      }

      @media screen and (min-width: $large) {
        margin: 0 10% 5%;
      }
    }

    .pars {
      color: lighten($off-black, 25%);
      font-size: 1.8em;
      text-shadow: none;

      @media screen and (min-width: $large) {
        margin: 0 10%;
      }
    }

    .spans {
      font-size: 1em;
      font-weight: 600;
      text-shadow: none;
    }
  }
}
