@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it-pink {
  100% {
    fill: lighten($pink, 15%);
  }
}

@keyframes fill-it-teal {
  100% {
    fill: lighten($teal, 15%);
  }
}

@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}
