{% extends "skills.html" %}

{% block content %}

  <div class="about-me">

    <div class="profile-pic">
      <img src="../static/assets/profile_pic.svg" alt="Profile picture">
    </div>

    <h1 class="head-large">ABOUT ME</h1>

{% endblock %}

{% block secondary_content %}

    <div class="words-about-me">

      <h3 class="head-med">
        <i>I take complex problems and turn them into beautiful solutions.</i>
      </h3> 
      <br> 

      <p class="pars">
        <span class="spans">Pragmatic</span> with a keen eye for detail, I focus 
        on getting <span class="spans">pixel perfect designs</span>, and turning 
        designs into an <span class="spans">interactive online experience.</span>
      </p>
      <br>

      <p class="pars">
        I love working with a <span class="spans">diverse range</span> of people.
        From big <span class="spans">corporate</span> companies to small 
        <span class="spans">start-ups</span> and <span class="spans">one-man</span>
        bussinesses. Ulitmately, my goal is to help my clients realize their 
        potential.
      </p>
      <br>

      <p class="pars">
        I'm <span class="spans">passionate</span> about design, using 
        <span class="spans">colour</span> and <span class="spans">shapes</span> 
        to develop unique ideas, and enrich my ideas with 
        <span class="spans">animations</span>, using 
        <span class="spans">JavaScript</span> and 
        <span class="spans">CSS</span>.</p>
      <br>

      <p class="pars">
        In my <span class="spans">current job</span>, I've been lucky enough to 
        work with some amazing companies, from <span class="spans">banks</span> 
        to <span class="spans">newspapers</span> to 
        <span class="spans">clothing and sonsumer goods manufacturers</span>.</p>
      <br>

      <p class="pars">
        I always aim to be at the <span class="spans">top of my industry</span> 
        and aim to use the <span class="spans">latest technologies available</span>. 
        Which is why I spent most of my free time learning all about the web.
      </p>

    </div>
  </div>



  <div class="rolldown">
    <ul class="rolldown-list rolldown-list-hide like">
      <li class="toggle">Things I Like</li>
      <li>Python</li>
      <li>ReactJS</li>
      <li>Software Development</li>
      <li>Vim</li>
      <li>The Linux Kernel</li>
      <li>Open Source</li>
      <li>Design & Branding</li>
      <li>Vector Graphics</li>
      <li>Animation</li>
      <li>My Family</li>
    </ul>

    <ul class="rolldown-list rolldown-list-hide interests">
      <li class="toggle">My Interests</li>
      <li>Mathematics</li>
      <li>Science</li>
      <li>Code</li>
      <li>Artificial Intelligence</li>
      <li>Raspberry Pi</li>
      <li>Autonomy</li>
      <li>Rubik's Cube</li>
      <li>Space Travel</li>
      <li>Culture</li>
      <li>Art</li>
    </ul>

    <ul class="rolldown-list rolldown-list-hide hate">
      <li class="toggle">Things I Don't Like</li>
      <li>WordPress</li>
      <li>Website Builders</li>
      <li>Politics</li>
      <li>Racism</li>
      <li>Tunnel Vision</li>
      <li>Monopolies</li>
      <li>Greed</li>
      <li>Borders</li>
      <li>Uniforms</li>
      <li>Donald Trump</li>
    </ul>
  </div>

  <div class="quote">
    <h1>"A <span>foolish consistency</span> is the hobgoblin of <span>little minds,</span>
      adored by <span>little statesmen</span> and <span>philosophers</span> and <span>divines"</span></h1>
  </div>

  <div class="time-head">
    <h1>Timeline</h1>
  </div>


  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>2012</time><p>I'm a lumberjack and I'm OK, I sleep all night and work all day.</p>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <div>
          <time>2012</time><p>I'm a lumberjack and I'm OK, I sleep all night and work all day.</p>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <div>
          <time>2012</time><p>I'm a lumberjack and I'm OK, I sleep all night and work all day.</p>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <div>
          <time>2012</time><p>I'm a lumberjack and I'm OK, I sleep all night and work all day.</p>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <div>
          <time>2012</time><p>I'm a lumberjack and I'm OK, I sleep all night and work all day.</p>
        </div>
      </li>
    </ul>
  </section>

{% endblock %}


