{% include "layout.html" %}

  <section id="page-section">

  {% block content %}{% endblock %}

    <section>

      <div class="skill-box">

        <h3>Development</h3>
        <div class="skills">
          <ul>
            <li data-percent="90">
              <span>HTML5 & Jinja2</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

        <div class="skills">
          <ul>
            <li data-percent="87">
              <span>CSS & SASS/SCSS</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

        <div class="skills">
          <ul>
            <li data-percent="80">
              <span>JavaScript & jQuery</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

        <div class="skills">
          <ul>
            <li data-percent="62">
              <span>ReactJS & Redux</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>
        
        <div class="skills">
          <ul>
            <li data-percent="55">
              <span>Python 2&3</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

        <div class="skills">
          <ul>
            <li data-percent="50">
              <span>Flask/Django</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

        <h3>Design</h3>
        <div class="skills">
          <ul>
            <li data-percent="80">
              <span>Illustrator</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

        <div class="skills">
          <ul>
            <li data-percent="75">
              <span>Photoshop</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

        <h3>Tools</h3>
        <div class="skills">
          <ul>
            <li data-percent="90">
              <span>Git/Github</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

        <div class="skills">
          <ul>
            <li data-percent="88">
              <span>Gulp & Npm</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

        <div class="skills">
          <ul>
            <li data-percent="70">
              <span>Vim</span><span class="bar"><b></b></span>
            </li>
          </ul>
        </div>

      </div>

    </section>

  {% block secondary_content %}{% endblock %}

  </section>
  
